route:
  receiver: pushy
  group_interval: 2m
  routes:
  - receiver: pushy-dev-team
    matchers:
      - team="pushy"

receivers:
  - name: pushy
    webhook_configs:
    - url: 'http://dev/null'
  - name: pushy-dev-team
    webhook_configs:
    - url: '@PUSHY_DEV_TEAM_WEBHOOK_URL@'

