global:
  scrape_interval:     15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/rules.yml

alerting:
  alertmanagers:
  - scheme: https
    static_configs:
      - targets: ['alerts.nitrogen.avedus.pro:443']

scrape_configs:
  - job_name: prometheus
    scheme: https
    static_configs:
      - targets: ['prom.nitrogen.avedus.pro:443']
  - job_name: alertmanager
    scheme: https
    static_configs:
      - targets: ['alerts.nitrogen.avedus.pro:443']
  - job_name: pushy
    scheme: https
    static_configs:
      - targets: ['api.pushy.tg:443']
  - job_name: pushy1
    metrics_path: '/api/metrics'
    scheme: https
    static_configs:
      - targets: ['pushy1.helium.avedus.pro:443']
  - job_name: pushy-test
    metrics_path: '/api/metrics'
    scheme: https
    static_configs:
      - targets: ['pushy-test.nitrogen.avedus.pro:443']
  - job_name: pushy-ext
    scheme: https
    static_configs:
      - targets: ['dd1.nitrogen.avedus.pro']
  - job_name: prometheus1
    scheme: https
    static_configs:
      - targets: ['prom1.helium.avedus.pro:443']
  - job_name: alertmanager1
    scheme: https
    static_configs:
      - targets: ['alerts1.helium.avedus.pro:443']
  - job_name: deadlines
    scheme: https
    static_configs:
      - targets: ['ddl.nitrogen.avedus.pro:443']
